<style>
	table.cd-detail img {
		width: 100%;
	}
</style>

<h1>Card</h1>
<table class="cd-info">
	<tr>
		<td colspan="3">Title</td>
		<td>Trait</td>
		<td>Class</td>
		<td>Create: {{ card.createInfo }}</td>
		<td>Liquefy: {{ card.liquefyInfo }}</td>
	</tr>	
	<tr>
		<td class="cd-title">{{ card.title }}</td>
		<td>{{ card.traitInfo }}</td>
		<td>{{ card.classInfo }}</td>
		<td>{{ card.cardPackInfo }}</td>
	</tr>
</table>
<table class="cd-detail">
	<tr>
		<td rowspan="2"><img class="cd-image" src="{{ url_for('static', filename='images'+card.imageLink1) }}"></td>
		<td><span class="cd-skill">{{ card.skill1 }}</span><br><span class="cd-desp">{{ card.desp1 }}</span><br></td>
		<td rowspan="2">{% if card.Atk2 %}<img class="cd-image" src="{{ url_for('static', filename='images'+card.imageLink2) }}">{% endif %}</td>
	</tr>
	<tr>
		<td>{% if card.Atk2 %}<span class="cd-skill">{{ card.skill2 }}</span><br><span class="cd-desp">{{ card.desp2 }}</span><br>{% endif %}</td>
	</tr>
</table>